/* General formatting */
body {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
}

p {
    display: inline;
    margin-block: 0;
}

.standard {
    align-items: center;
}
.flipped {
    display: flex;
    flex-direction: column;
}
.standard {
    display: flex;
    flex-direction: row;
    width: auto;
}

.dark-bg {
    background-color: #1F2937;
    color: white;
}

.main-container {
    padding-right: 15vw;
    padding-left: 15vw;
}

/* Header formatting */
#header {
    padding: 40px 15vw;
}

p#header-link,
p.hero-subtext{
    font-size: 18px;
    color: #ced1d6;
    opacity: 80%
}

#header-right {
    width: 50%;
    justify-content: right;
}

#header-left {
    width: 50%;
    justify-content: left;
}
#header-logo
.hero-main-text {
    color: #F9FAF8;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

/* Section 1*/
#section1 {
    padding: 150px 15vw;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
}

.s1-image {
    width: 50vw;
    aspect-ratio: 2/1;
    background-color: gray;
    opacity: 50%;
}

.signup-button1 {
    height: auto;
    width: auto;
    padding: 0.5em 3em;
    border-radius: 5px;
    border-style: solid;
    color: white;
    border-color:#3882f6;
    background-color: #3882f6;
}

/* Section 2 */
#section2 {
    padding: 50px 20vw 50px 20vw;
    justify-content: center;
    text-align: center;
}

.s2-header {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 30px;
    
}

.random-content {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    font-size: 16px;
}

.random-content p {
    opacity: 50%;
}

.square-image {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-style: solid;
    border-width: 4px;
    border-radius: 15px;
    border-color:#3882f6; 
}


/* Section 3 */
#section3 {
    background-color: #e5e7eb;
    padding: 80px 20vw;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.quoted {
    font-weight: bold;
    font-size: 22px;
    display: block;
    width: 100%;
    text-align: right;
    padding-right: 20px; 
}
/* Section 4 */
#section4 {
    padding-top: 80px;
    padding-bottom: 80px;
}

#cta-container {
    background-color: #3882F6;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;
    border-radius: 5px
}

.cta-text-flipped {
    width: auto;
}
  
.cta-text-bold {
    font-weight: bold;
    font-size: 22px;
}
.cta-text-body {
    opacity: 80%;
}

#signup-button2 {
    width: auto;
    height: auto;
    padding: 0.5em 3em;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
}

/* Footer */
footer {
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 12px;
}

footer .footer-text {
    font-weight: lighter;
    color: #ced1d6;
    opacity: 80%;
}